/*  */


/* Add this CSS to your stylesheet */
.flex.items-center {
    display: flex;
    /* Use flexbox */
}

.form-container {
    background-color: white;
    color: #444242;
    padding: 10px;
    
}

.input-field, .text-input {
    border: 1px solid #ccc;
    color: #444242;
    /* Grey outline */
    border-radius: 10px;
    /* 70-degree rounded corners */
    padding: 10px;
    /* Adjust padding as needed */
    width: 100%;
    /* Adjust width as needed */
    box-sizing: border-box;
    /* Include border and padding in the width */
    outline: none;
    /* Remove default outline */
    background-color: transparent;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);  /* style for the calnedar in date input fields */
}

.img-input {
    width: 80%;
    font-size: 14px;
    font-weight: bold;
    background-color: #EFF6FF;
    color: #1E40AF;
    border: none;
    border-radius: 9999px;
    padding: 10px 16px;
    cursor: pointer;
}

/* Optional: Style the input field when focused */
.input-field:focus {
    border-color: #007bff;
    /* Change border color on focus */
    /* Add additional styling as needed */
}

.back-btn {
    background: transparent;
    color: #444242;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    margin: 0.5rem 1rem 0.5rem 1rem;
    /* top, right, bottom, left*/
}

.name-inputs {
    width: 80%;
    margin: -0.75rem 0.25rem 0.25rem 0.25rem;

}

.name-labels {
    margin: 0.25rem 0.25rem 0 0.25rem;
}

.title-and-relation {
    width: 80%;
    margin: -0.75rem 0.25rem 0.25rem 0.25rem;
}

.title-relation-label {
    margin: 0.25rem 0.25rem 0 0.25rem;
}

.label-under {
    margin-left: 0.25rem;
}

.label-above {
    margin-top: 1.20rem;
    margin-left: 0.25rem;
}

.single-row-inputs {
    width: 100%;
    margin: 0.25rem 1rem 0 1rem;
}

.single-row-labels {
    margin: 0.25rem 0 0 0.25rem;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.submit-btn {
    background-color: #242C54;
    color: #ccc;
}