/* Add this CSS to your stylesheet */
.flex.items-center {
    display: flex;
    /* Use flexbox */
}

.back-btn {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    margin: 0.5rem 1rem 0.5rem 1rem;
    /* top, right, bottom, left*/
}

.name-inputs {
    width: 80%;
    margin: -0.75rem 0.25rem 0.25rem 0.25rem;
    
}

.name-labels {
    margin: 0.25rem 0.25rem 0 0.25rem;
}

.title-and-relation {
    width: 80%;
    margin: -0.75rem 0.25rem 0.25rem 0.25rem;
}

.title-relation-label {
    margin: 0.25rem 0.25rem 0 0.25rem;
}

.label-under {
    margin-left: 0.25rem;
}

.label-above {
    margin-top: 1.20rem;
    margin-left: 0.25rem;
}

.single-row-inputs {
    width: 100%;
    margin: 0.25rem 1rem 0 1rem;
}

.single-row-labels {
    margin: 0.25rem 0 0 0.25rem;
}