/* styles.css */

.container {
    margin: auto;
    margin-top: 8rem;
    padding: 4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

nav a {
    color: #4299e1;
}

ul {
    list-style-type: none;
}

nav a:hover {
    color: #2b6cb0;
}

.bg-white {
    /* background-color: #ffffff; */
    background-color: red;
}

.p-6 {
    padding: 1.5rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-2xl {
    font-size: 1.5rem;
    font-weight: 600;
}

.font-semibold {
    font-weight: 600;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}

.border {
    border-width: 1px;
}

.p-2 {
    padding: 0.5rem;
}

.required:after {
    content: "*";
    color: red;
}

.file {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #4299e1;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.file:hover {
    background-color: #2b6cb0;
}

.file:focus {
    outline: none;
}

.hover\:file\:bg-blue-700:hover {
    background-color: #2b6cb0;
}

.hover\:file\:text-white:hover {
    color: #ffffff;
}